<ion-header no-border>
    <ion-toolbar>
        <ion-title>
        Mes Checklists
        </ion-title>
    </ion-toolbar>
</ion-header>
    
<ion-content>
    <ion-progress-bar *ngIf="!checklists" type="indeterminate"></ion-progress-bar>


    <ion-list>
        <ion-item *ngFor="let checklist of checklists">

            <ion-label [routerLink]="checklist.id">
                {{checklist.title}}
            </ion-label>

            <ion-icon name="close" slot="end"
            (click)="delete(checklist)"></ion-icon>

        </ion-item>
    </ion-list>

<ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button routerLink="/checklists/0">
        <ion-icon name="add"></ion-icon>
    </ion-fab-button>
</ion-fab>
</ion-content>
