ion-title {
    color: #707070;
    font-family: 'Segoe UI';
    font-size: 24px;
    font-weight: 400;
    text-align: center;
}

ion-item {
    --border-style: none;
    font-family: 'Segoe UI';
    font-size: 14px;
    font-weight: 700;
}

.add_btn {
    --border-radius: 50%;
    height: 50px;
    width: 50px;
}