<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-button routerLink="/checklists">
                <ion-icon  name="arrow-back"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-item>
            <input [(ngModel)]="checklist.title" 
            (keyup.enter)="saveChecklist(checklist.id)"
            placeholder="checklist title" 
            value="{{checklist.title}}" name="title" 
            type="text">
        </ion-item>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-progress-bar *ngIf="!checklist.items" type="indeterminate"></ion-progress-bar>

    <ion-list>
        <ion-grid>
            <ion-row *ngFor="let item of checklist.items">
                <ion-col size="10">
                    <ion-item>
                        <ion-input [(ngModel)]="item.label" placeholder="item label" 
                        value="{{item.label}}" name="label" type="text"
                        required="true" (keyup.enter)="updateItem(item)"></ion-input>
                    </ion-item>
                </ion-col>
                <ion-col align-self-center>
                    <ion-checkbox [(ngModel)]="item.checked" (ionChange)="updateCheck(item, $event)"></ion-checkbox>
                </ion-col>
            </ion-row>
        </ion-grid>
    </ion-list>

    <ion-input class="myinput" [(ngModel)]="item_label" name="label" type="text"
    *ngIf="display_input" placeholder="label item"
    (keyup.enter)="createItem()"></ion-input>

    <div *ngIf="checklist.items.length">
        <ion-button (click)="destroyCheckedItems(checklist)" class="ion-padding" expand="block">
            Supprimer la sélection
        </ion-button>
    </div>
    

<ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="showInput()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
</ion-fab>

</ion-content>

