ion-title {
    color: #707070;
    font-family: 'Segoe UI';
    font-size: 24px;
    font-weight: 400;
}

ion-item {
    --border-style: none;
    font-family: 'Segoe UI';
    font-size: 14px;
}

ion-button {
    text-transform: none;
    font-weight: 400;
}

.add_btn {
    --border-radius: 50%;
    height: 50px;
    width: 50px;
}
   
input {
    border: 0;
    width: 100%;
    padding: 10px;
}

input:focus { 
    outline: none;

    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom: 2px solid #009688;
}   

