<ion-content class="ion-padding">
    <h1>Checklist Manager</h1>

    <h2>Connexion</h2>

    <ion-item>
        <ion-input [(ngModel)]="username" name="username" type="text" 
        placeholder="Utilisateur" required="true" minlength="5"></ion-input>
    </ion-item>
    
    <ion-item>
        <ion-input [(ngModel)]="password" name="password" type="password" 
        placeholder="Mot de passe" required="true" minlength="5"></ion-input>
    </ion-item>   
    
    <ion-button (click)="login()" class="ion-margin-top" expand="block">
        Ok
    </ion-button>

</ion-content>
