h1 {
    color: #707070;
    font-family: 'Segoe UI';
    font-size: 36px;
    font-weight: 400;
    margin: 45px 0;
    text-align: center;
}

h2 {
    color: #707070;
    font-family: 'Segoe UI';
    font-size: 24px;
    font-weight: 400;
    margin-bottom: 15px; 
    text-align: center;
}

ion-item {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 10px;
    --padding-bottom: 0;
    --min-height: 10px;
}

.ion-margin-top {
    margin-top: 20px;
}
